@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");
h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 300;
  color: #333333;
}

h2 {
  font-size: 2.6rem;
  color: #5899f5;
}

h3 {
  font-size: 2.2rem;
  color: #555555;
}

h1,
h2 {
  font-weight: 800;
}

p {
  font-size: 1.15rem;
  color: #333333;
}

.logo {
  color: #333333;
}
.logo span {
  color: #5899f5;
}

nav .container .logo {
  font-size: 1.8rem;
}
nav .container .nav-links li a,
nav .container .nav-links .social li a {
  font-size: 1.15rem;
  color: #555555;
}
nav .container .nav-links li a i,
nav .container .nav-links .social li a i {
  font-size: 2.2rem;
  color: #555555;
}
nav .container .nav-links li:hover a,
nav .container .nav-links .social li:hover a {
  font-size: 1.15rem;
  color: #5899f5;
}
nav .container .nav-links li:hover a i,
nav .container .nav-links .social li:hover a i {
  font-size: 2.2rem;
  color: #5899f5;
}

.hero .container .hero-text h1 .h1-name {
  font-size: 5rem;
  font-weight: 300;
  color: #555555;
}
.hero .container .hero-text h1 .h1-greeting {
  font-size: 1.15rem;
  color: #333333;
}
.hero .container .hero-text p {
  max-width: 600px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4.2rem;
    line-height: 1.1;
  }

  h2 {
    font-size: 3.1rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h1,
h2 {
    font-weight: 800;
  }

  .hero .container .hero-text h1 .h1-name {
    font-size: 3.1rem;
  }
  .hero .container .hero-text h1 .h1-greeting {
    font-size: 0.8rem;
  }
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .nav-linkss {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .nav-linkss .nav-links,
nav .container .nav-linkss .nav-links .social {
  position: relative;
  display: flex;
  justify-content: space-between;
}
nav .container .nav-linkss .nav-links li,
nav .container .nav-linkss .nav-links .social li {
  padding: 15px 30px;
}
nav .container .logo {
  padding: 15px 60px 15px 0;
}
nav .container .ham {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 45px;
  display: none;
}
nav .container .ham span {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #555555;
}

.cta, .btn {
  margin: 20px 0px;
  padding: 10px 35px;
  border: 1px solid #5899f5;
}

.btn {
  color: #5899f5;
}

.cta {
  background-color: #5899f5;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  nav .container {
    z-index: 499;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.747);
  }
  nav .container .logo {
    padding: 0;
  }
  nav .container .nav-linkss {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    padding: 10em 1.25em;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    color: #fff;
    transition: 0.25s ease-in;
  }
  nav .container .nav-linkss .nav-links {
    display: flex;
    justify-content: space-between;
  }
  nav .container .nav-linkss .nav-links li {
    padding: 15px 30px;
  }
  nav .container .nav-linkss .nav-links {
    flex-direction: column;
  }
  nav .container .nav-linkss .navi-links {
    height: 70%;
  }
  nav .container .nav-linkss .social {
    padding: 2em 0 0;
    flex-direction: row;
  }
  nav .container .active {
    left: 0;
  }
  nav .container .ham {
    z-index: 501;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 45px;
  }
  nav .container .ham span {
    height: 2px;
    width: 100%;
    background-color: #555555;
    transition: 0.25s ease-in;
    animation: hamReveal;
  }
  @keyframes hamReveal {
    0% {
      visibility: hidden;
    }
    80% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  nav .container .ham .ham-bar-one-active {
    transform: rotate(45deg);
  }
  nav .container .ham .ham-bar-two-active {
    display: none;
  }
  nav .container .ham .ham-bar-three-active {
    transform: rotate(-45deg);
  }
  nav .container .ham .ham-bar-one-active,
nav .container .ham .ham-bar-two-active,
nav .container .ham .ham-bar-three-active {
    position: absolute;
  }
}
.m-1 {
  margin: 1em;
}

.p-1 {
  padding: 1em;
}

.mx-1 {
  margin: 1em;
}

.px-1 {
  padding: 1em;
}

.my-1 {
  margin: 1em 0;
}

.py-1 {
  padding: 1em 0;
}

.myu-1 {
  margin-top: 1em;
}

.pyu-1 {
  padding-top: 1em;
}

.myd-1 {
  margin-bottom: 1em;
}

.pyd-1 {
  padding-bottom: 1em;
}

.m-2 {
  margin: 2em;
}

.p-2 {
  padding: 2em;
}

.mx-2 {
  margin: 2em;
}

.px-2 {
  padding: 2em;
}

.my-2 {
  margin: 2em 0;
}

.py-2 {
  padding: 2em 0;
}

.myu-2 {
  margin-top: 2em;
}

.pyu-2 {
  padding-top: 2em;
}

.myd-2 {
  margin-bottom: 2em;
}

.pyd-2 {
  padding-bottom: 2em;
}

.m-3 {
  margin: 3em;
}

.p-3 {
  padding: 3em;
}

.mx-3 {
  margin: 3em;
}

.px-3 {
  padding: 3em;
}

.my-3 {
  margin: 3em 0;
}

.py-3 {
  padding: 3em 0;
}

.myu-3 {
  margin-top: 3em;
}

.pyu-3 {
  padding-top: 3em;
}

.myd-3 {
  margin-bottom: 3em;
}

.pyd-3 {
  padding-bottom: 3em;
}

.m-4 {
  margin: 4em;
}

.p-4 {
  padding: 4em;
}

.mx-4 {
  margin: 4em;
}

.px-4 {
  padding: 4em;
}

.my-4 {
  margin: 4em 0;
}

.py-4 {
  padding: 4em 0;
}

.myu-4 {
  margin-top: 4em;
}

.pyu-4 {
  padding-top: 4em;
}

.myd-4 {
  margin-bottom: 4em;
}

.pyd-4 {
  padding-bottom: 4em;
}

.m-5 {
  margin: 5em;
}

.p-5 {
  padding: 5em;
}

.mx-5 {
  margin: 5em;
}

.px-5 {
  padding: 5em;
}

.my-5 {
  margin: 5em 0;
}

.py-5 {
  padding: 5em 0;
}

.myu-5 {
  margin-top: 5em;
}

.pyu-5 {
  padding-top: 5em;
}

.myd-5 {
  margin-bottom: 5em;
}

.pyd-5 {
  padding-bottom: 5em;
}

.container {
  padding: 0 5em;
}

section {
  border-bottom: 1px solid black;
}

.showcase {
  height: 100vh;
}
.showcase .hero {
  position: relative;
  top: 50%;
  transform: translateY(-55%);
}

@media only screen and (max-width: 768px) {
  .showcase {
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
  }
  .showcase .hero {
    position: relative;
  }

  .container {
    padding: 0 1.5em;
  }
}
h1 {
  font-size: 5rem;
  line-height: 1;
  font-weight: 300;
  color: #333333;
}

h2 {
  font-size: 2.6rem;
  color: #5899f5;
}

h3 {
  font-size: 2.2rem;
  color: #555555;
}

h1,
h2 {
  font-weight: 800;
}

p {
  font-size: 1.15rem;
  color: #333333;
}

.logo {
  color: #333333;
}
.logo span {
  color: #5899f5;
}

nav .container .logo {
  font-size: 1.8rem;
}
nav .container .nav-links li a,
nav .container .nav-links .social li a {
  font-size: 1.15rem;
  color: #555555;
}
nav .container .nav-links li a i,
nav .container .nav-links .social li a i {
  font-size: 2.2rem;
  color: #555555;
}
nav .container .nav-links li:hover a,
nav .container .nav-links .social li:hover a {
  font-size: 1.15rem;
  color: #5899f5;
}
nav .container .nav-links li:hover a i,
nav .container .nav-links .social li:hover a i {
  font-size: 2.2rem;
  color: #5899f5;
}

.hero .container .hero-text h1 .h1-name {
  font-size: 5rem;
  font-weight: 300;
  color: #555555;
}
.hero .container .hero-text h1 .h1-greeting {
  font-size: 1.15rem;
  color: #333333;
}
.hero .container .hero-text p {
  max-width: 600px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4.2rem;
    line-height: 1.1;
  }

  h2 {
    font-size: 3.1rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h1,
h2 {
    font-weight: 800;
  }

  .hero .container .hero-text h1 .h1-name {
    font-size: 3.1rem;
  }
  .hero .container .hero-text h1 .h1-greeting {
    font-size: 0.8rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", san-serif;
}

img {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
