@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;800&display=swap");
h1,
h2 {
  font-size: 64px;
  line-height: 1;
}

h1,
h2,
p {
  color: #1e1e1e;
}

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 800;
  text-transform: capitalize;
}

h3 {
  margin: 0.1em 0 0.5em;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 24px;
}

p {
  margin: 0.4em auto 1em;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

i {
  padding: 0.2em 0;
  font-size: 4rem;
}

.showcase-txt {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: fit-content;
  max-width: 700px;
}

footer {
  background-color: #1e1e1e;
}

button {
  margin: 1em auto;
  padding: 1em 2.5em;
  outline: none;
  border: none;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 3px;
}

.nav-active {
  background-color: #f7f7f7da;
}

.active {
  transform: scaleX(1);
  opacity: 1;
}

.nav {
  z-index: 10000;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  top: 5%;
  right: 5%;
  width: fit-content;
}
.nav .ham {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 20px;
}
.nav .ham .ham-bar {
  height: 2px;
  width: 100%;
  background-color: #1e1e1e;
  border-radius: 50px;
  transform: rotate(0deg);
  transition: 0.25s ease-in;
}
.nav .ham .ham-bar:nth-child(2) {
  transition: 0.25s ease-in-out 0.2s;
}
.nav .ham .one {
  transform: rotate(-45deg) translateY(12px);
}
.nav .ham .two {
  transform: rotate(45deg) translateY(-12px);
}

ul {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  opacity: 0;
  transition: 0.25s ease-in;
}

li {
  padding: 0 1.5em;
}
li a {
  scroll-behavior: smooth;
  transition: 0.05s;
}
li:hover {
  text-decoration: line-through;
}

.deck {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.deck .card {
  position: relative;
  border-radius: 3px;
  transition: 0.15s ease-in;
}
.deck .card .card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.801);
  border-radius: 3px;
}
.deck .card img {
  border-radius: 3px;
}
.deck .card .card-text {
  position: absolute;
  margin: 1.5em;
  padding: 0;
  bottom: 0;
}
.deck .card .card-text p,
.deck .card .card-text h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}
.deck .card .card-text h3 {
  font-weight: 200;
  font-size: 20px;
}
.deck .card:hover {
  transform: scale(1.02);
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 1.5em;
  padding: 2em;
  width: 100%;
  border-radius: 3px;
  background-color: #f7f7f7da;
}
.contact-form .form-field {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}
.contact-form .form-field label {
  text-transform: capitalize;
}
.contact-form .form-field input,
.contact-form .form-field textarea {
  padding: 1em;
  border-radius: 3px;
  border: none;
  background-color: #fff;
}
.contact-form button {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 3px;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: fit-content;
}
.social-media a i {
  color: #fff;
  font-size: 32px;
}

footer .section-body {
  display: flex;
  flex-direction: column;
  justify-items: left;
  gap: 1.5em;
}
footer .section-body p {
  margin: 0;
  font-weight: 200;
  color: #fff;
}

@media screen and (min-width: 1440px) {
  .nav {
    right: 15%;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    z-index: 10000;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 0.2em;
    top: 0;
    right: 0;
    width: 100%;
  }
  .nav .ham {
    position: fixed;
    right: 1.5em;
  }

  .deck {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }

  i {
    padding: 0.2em 0;
    font-size: 4rem;
  }
}
.body {
  width: 100vw;
}

section {
  padding: 3em 0;
  scroll-behavior: smooth;
}

.showcase {
  height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 5em;
  max-width: 1280px;
  width: 100%;
  height: 100%;
}

.section-body {
  padding: 2em 0;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.about-grid .img {
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
}
.about-grid p {
  padding: 3em 2em;
}

.contact-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1.5em;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-grid .img {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  .about-grid p {
    padding: 0em;
  }

  .contact-area {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5em;
  }
}
h1,
h2 {
  font-size: 64px;
  line-height: 1;
}

h1,
h2,
p {
  color: #1e1e1e;
}

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 800;
  text-transform: capitalize;
}

h3 {
  margin: 0.1em 0 0.5em;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 24px;
}

p {
  margin: 0.4em auto 1em;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

i {
  padding: 0.2em 0;
  font-size: 4rem;
}

.showcase-txt {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: fit-content;
  max-width: 700px;
}

footer {
  background-color: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
