//paddings and margins
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts{
    .m-#{$space}{
        margin: #{$space}em;
    }
    .p-#{$space}{
        padding: #{$space}em;
    }

    // padding & margin up/down 
    .mx-#{$space}{
        margin: #{$space}em;
    }
    .px-#{$space}{
        padding: #{$space}em;
    }
    .my-#{$space}{
        margin: #{$space}em 0;
    }
    .py-#{$space}{
        padding: #{$space}em 0;
    }

    // padding & margin up only

    .myu-#{$space}{
        margin-top: #{$space}em;
    }
    .pyu-#{$space}{
        padding-top: #{$space}em;
    }

    // padding & margin down only
    
    .myd-#{$space}{
        margin-bottom: #{$space}em;
    }
    .pyd-#{$space}{
        padding-bottom: #{$space}em;
    }
}

.container{
    padding: 0 5em;
}

section{
    border-bottom: 1px solid black;
}

// showcase

.showcase{
    height: 100vh;

    .hero{
        position: relative;
        top: 50%;
        transform: translateY(-55%);
    }
}



// Responsive
@media only screen and (max-width: 768px){

    .showcase{
        height: 100vh;
        background-color: $neutral-color;
        display: flex;
        align-items: center;

        .hero{
            position: relative;
            top: 0%;
            transform: translateY(0%);

            .container{
                .svg{
                    display: none;
                }
            }
        }
    } 

    .container{
        padding: 0 1.5em;
    }
}
