.body{
    width: 100vw;
}
section{
    padding: 3em 0;
    scroll-behavior: smooth;
}
.showcase{
    height: 100vh;
}
.container{
    margin: 0 auto;
    padding: 0 5em;
    max-width: 1280px;
    width: 100%;
    height: 100%;
}
.section-body{
    padding: 2em 0;
}

// about grid
.about-grid{
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    .img{
        display: none;
        width: 100%;
        height: 100%;
        background-color: black;
    }
    p{
        padding: 3em 2em;
    }
}

//contact section
.contact-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}


// LAYOUT MEDIA QUERIES
@media screen and (max-width: 768px){
    .container{
        padding: 0 1.5em;
    }

    // about grid
    .about-grid{
        display: grid;
        grid-template-columns: 1fr;

        .img{
            position: relative;
            width: 100%;
            height: 100%;
            background-color: black;
        }
        p{
            padding: 0em;
        }
    }
    
    // contact section
    .contact-area{
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5em;
    }
}