@import 'base';
@import 'components';
@import 'layout';
@import 'typography';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: none;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}